/* You can add global styles to this file, and also import other style files */
$fa-font-path : '~font-awesome/fonts';
$roboto-font-path: '~angular-bootstrap-md/font/roboto/';
$image-path: '~angular-bootstrap-md/img';

@import "~scss/custom";

@import "~font-awesome/scss/font-awesome.scss";
@import "~angular-bootstrap-md/scss/bootstrap/bootstrap.scss";
@import "~scss/mdb/mdb-free.scss";

